.work {
    background-color: #1a1a1a;
}

.work-container {
    text-align: center;
}

.work-caption {
    
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 7.2px;
    text-transform: capitalize;
    line-height: 90px;
    padding-bottom: 60px;
    padding-top: 55px;
    

    background-image: url(/img/Work.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.work-list {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 120px;
}

.work-list--item {
    width: 255px;
    border-radius: 6px;
    background-color: #252525;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
}

.work-list--item + .work-list--item {
    margin-left: 30px;
}

.work-list--item:hover,
.work-list--item:focus {
background-color: #34C759;
color: #191919;
}

.work-list--caption {
    padding-bottom: 36px;
    padding-top: 24px;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.275px;
text-transform: capitalize;
}

.work-list--text {
    padding-bottom: 60px;
    padding-right: 31px;
    padding-left: 24px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.162px;
}