.work {
    background-color: #1a1a1a;
}

.work-container {
    text-align: center;
    width: 1110px;
}

.work-caption {
    
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 7.2px;
    text-transform: capitalize;
    line-height: 90px;
    padding-bottom: 60px;
    padding-top: 55px;
    

    background-image: url(/img/Work.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.work-list {
    display: flex;
    flex-wrap: nowrap;
}

.work-list--item {
    width: 255px;
    border-radius: 6px;
    background-color: #252525;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
}

.work-list--item + .work-list--item {
    margin-left: 30px;
}

.work-list--item:hover,
.work-list--item:focus {
background-color: #34C759;
}

.work-list--caption {

}