@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('/fonts/HelveticaNeueCyr-Black.woff') format('woff2'),
        url('/fonts/HelveticaNeueCyr-Black.woff2') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

body {
    background-color: rgba(37, 37, 37, 1);
    font-family: "Helvetica" Neue, sans-serif;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1110px;
    // padding-left: 15px;
    // padding-right: 15px;
    margin: 0 auto;
}